<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Book Your Jungle Mystery Today!
            <br />
            
        </h2>
    
        <a href="https://fareharbor.com/embeds/book/escapehilo/items/58566/?full-items=yes&u=84441f3f-1c27-44c8-9146-8ef90bd95998&from-ssl=yes&back=https://www.escapehilo.com/&language=en-us&ga4t=G-PN5EGMFBNR,582807133.1694811056__1695338957%3B&g4=yes&cp=no&csp=no" class="cs-button-solid">Book Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="Escape Hilo" loading="lazy" width="2500" height="1667">
    </picture>
    
      

</section>