---
title: 'About'
description: 'About Escape Hilo
preloadImg: '/assets/images/Escape Hilo2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing-m.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing-m.jpg" alt="Escape Hilo" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/frontdoor.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/frontdoor.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/frontdoor.webp" alt="Escape Hilo" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/ryanselfie.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/ryanselfie.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/ryanselfie.webp" alt="Escape Hilo" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">About Escape Hilo</h2>
              
                <p class="cs-text">
Hey everyone my name is Ryan, I am the owner of Escape Hilo and also your host! I've been doing escape rooms for a little over 6 years now and the proud owner of Hawaii Island's first escape room company! I've been in operation since 2017 and I truly want to deliver a great escape attempt for first time players and expert players. Heck I'd say if you done over 50 escape rooms I DARE YOU to beat our record. DO IT, YOU WON'T!!!                </p>
        
                <a href="/reviews" class="cs-button-solid">Our Reviews</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}