---
title: 'Previous Winners'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'PreviousWinners/'
eleventyNavigation:
    key: Previous Winners
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}
    
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Previous Winners</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/landing-m.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing-m.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/escapehilo1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo2.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo3.jpgg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo3.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo4.jpg"">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo4.jpg".jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo6.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo7.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo8.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/escapehilo9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/escapehilo9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/escapehilo9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
        
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}