---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
The owner and creator did the most amazing job! It is both fun and challenging! There was some stuff in there that I had never before seen in an escape room. My wife and I love doing escape rooms and this definitely was one of our favorites. HIGHLY RECOMMEND! Very fair price!                </p>
                <div class="star-group">
                    <span class="name">Matthew Lowe<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
A truly unique experience! The owner put a lot of time and thought into creating something fun, all while keeping it a challenge. The Jungle theme was awesome. Our group escaped with barely any time left on the clock! We can’t wait to come back when a new theme and set of puzzles is created. I’d recommend this for a group of people looking to do something different on their Saturday night! :)                </p>
                <div class="star-group">
                    <span class="name">Malea A<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
Awesome escape room! It was challenging but not impossible and the clues were very creative and clever. Perfect way to get out of the hot afternoon sun and do a Hawaiian themed game   . Highly recommend for teenagers who are into video games - great family bonding experience.                </p>
                <div class="star-group">
                    <span class="name">Grace Lai<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
The escape room was really well done ! Was a great mix between difficult and easy. Would definitely go again and try out more rooms !                </p>
                <div class="star-group">
                    <span class="name">Alec Kuuvider<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
Fun game! If you have an hour of free time, stop by! Great job by the creator.                </p>
                <div class="star-group">
                    <span class="name">Jesus Sanchez<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Google.png" alt="" width="99" height="99">
                </picture>
                <p>
Escape Hilo was the perfect night of fun and adventure for my friend's bachelorette party! There are different levels you can choose to play at (timer or not, clues or not) we opted for normal level with clues and made it out right before the last minute!! We loved the Hilo history that was built in and the atmosphere.
Ryan was absolutely such a fun host to us and we can't wait to see what he builds next!
Mahalo nui loa!
                </p>
                <div class="star-group">
                    <span class="name">Christine Cunningham <span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            
            </div>
             <a href="https://www.google.com/maps/place/Escape+Hilo/@19.6081314,-155.0955967,12z/data=!4m22!1m13!4m12!1m4!2m2!1d-154.941539!2d19.4934643!4e1!1m6!1m2!1s0x79524b57eb0fffff:0xa3d12c66cfc71994!2sescape+hilo+google!2m2!1d-155.0850743!2d19.7237662!3m7!1s0x79524b57eb0fffff:0xa3d12c66cfc71994!8m2!3d19.7237117!4d-155.0851708!9m1!1b1!16s%2Fg%2F11g0k0spvw?entry=ttu" class="cs-button-solid">Click Here to View over 200+ Google Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}